tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }


.modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }

.modal-header-warning{
      background-color: #b5133f;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
.modal-footer {
  background-color: #f9f9f9;
}

.resized-img{
	height: 30px;
	width: 30px;
}

.formTextArea{
	width:100%;
	color: black;
}

#book-modal-button{
	margin-bottom: 15px;
}

td{
	background-color: #515151;
}

thead td, thead th{
	background-color: black;
}

.sorting_2, .sorting_1{
	color:#515151;
}


	
#about-container{
	background-color: black;
	opacity: 0.8;
}











